.nav {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 20px;
  height: 30px;

  transition-timing-function: ease-in;
  transition: all 0.5s;
}
.nav_black {
  background-color: #111;
}

.nav_logo {
  height: 32px;
  width: 108px;
  object-fit: contain;
}

.nav_avatar {
  position: fixed;
  right: 20px;
  width: 30px;
  object-fit: contain;
}
.link {
  color: white;
  text-decoration: none;
  margin-right: 30px;
  cursor: pointer;
}
.link:hover {
  font-weight: bold;
}

.list {
  display: none;
  background-color: black;
  position: absolute;
  padding: 10px;
  width: 100px;
  top: 25px;
  right: 10px;
}

.list-img {
  position: fixed;
  right: 20px;
  width: 25px;
  object-fit: contain;
}

.nav_avatar:hover + .list {
  display: block;
}
